mixin footer
  footer#footer
    .container
      p.text-muted.credit.
        Basado en <a href="https://cytu.be/" rel="noreferrer noopener">CyTube</a> 
        (<a href="https://github.com/calzoneman/sync" target="_blank" rel="noreferrer noopener">github</a>)
        &nbsp;&middot;
        <a href="/contact" target="_blank">Contacto</a>
        &nbsp;&middot;
        <a href="https://github.com/calzoneman/sync/wiki" target="_blank" rel="noopener noreferrer">Wiki oficial</a>
        &nbsp;&middot;
        <a href="/js/cytube-drive.user.js" target="_blank">Script drive (rlab)</a>
  script(src="/js/jquery-1.11.0.min.js")
  // Must be included before jQuery-UI since jQuery-UI overrides jQuery.fn.button
  // I should really abandon this crap one day
  script(src="/js/jquery-ui.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
