extends layout.pug

block content
  .col-lg-9.col-md-9
    h3 Salas
    table.table.table-bordered.table-striped
      thead
        th
        th # usuarixs
        th 
      tbody
        each chan in channels
          tr
            td: a(href=`/${channelPath}/${chan.name}`) #{chan.pagetitle} (#{chan.name})
            td= chan.usercount
            td= chan.mediatitle
  .col-lg-3.col-md-3
    h3 Enter Channel
    input#channelname.form-control(type="text", placeholder="Channel Name")
    p.text-muted New channels can be registered from the <a href="/account/channels">My Channels</a> page.

append footer
  script(type="text/javascript").
    $("#channelname").keydown(function (ev) {
      if (ev.keyCode === 13) {
        location.href = "/#{channelPath}/" + $("#channelname").val();
      }
    });
